# Secrets
secrets.json
status.json
*.pem

# Tracking Data (Do not expose your physical location!)
*.csv
tracking_log.csv

# Python
__pycache__/
*.pyc
venv/
env/
.env

# System
.DS_Store
*.log
server.log
